* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f2f2f2;
  --light: #fff;
  --dark: #000;
  --font-family-default: "Source Sans Pro", sans-serif;
  --text: #656565;
  --text-light: #cecece;
  --text-secondary: #3d75bb;
  --secondary-bg-color: #f7f9fa;
  --secondary-text: #3d75bb;
  --border-input-focus: #66AFE9;
  --border-input: #DDE6E9;
  --secondary-text-light: #5d9cec;
  --font-size: 14px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-sm: 11px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--text);
  padding: 12px;
  font-family: var(--font-family-default);
  font-size: var(--font-size);
  background: var(--main-bg-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

.main-title {
  font-size: var(--font-size-lg);
  margin-bottom: 22px;
}
