* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f2f2f2;
  --light: #fff;
  --dark: #000;
  --font-family-default: "Source Sans Pro", sans-serif;
  --text: #656565;
  --text-light: #cecece;
  --text-secondary: #3d75bb;
  --secondary-bg-color: #f7f9fa;
  --border-input-focus: #66AFE9;
  --border-input: #DDE6E9;
  --secondary-text-light: #5d9cec;
  --font-size: 14px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-sm: 11px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--text);
  padding: 12px;
  font-family: var(--font-family-default);
  font-size: var(--font-size);
  background: var(--main-bg-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

.main-title {
  font-size: var(--font-size-lg);
  margin-bottom: 22px;
}

.wrapper {
  padding: 41px 56px 44px;
}

.forecast-values {
  background: var(--secondary-bg-color);
  padding: 41px 56px 44px;
  min-width: 231px;
  font-style: italic;
}

.forecast-values .title {
  font-size: var(--font-size-md);
  color: var(--text-secondary);
  text-transform: uppercase;
  border-bottom: 1px solid #5d9cec52;
  margin-bottom: 16px;
  padding-bottom: 6px;
}

.forecast-values ul {
  list-style: none;
  color: var(--secondary-text-light);
}

.forecast-values ul li {
  list-style: none;
  color: var(--secondary-text-light);
  font-size: var(--font-size-md);
  line-height: 44px;
  font-weight: lighter;
}

.forecast-values ul li span {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .boxs {
    display: flex;
    height: 389px;
  }
  .forecast-values {
    padding: 83px 35px;
  }
}

@media only screen and (max-width: 390px) {
  .wrapper, .forecast-values {
    padding: 20px;
  }
}